<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">UniversityWeb</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="Departman">Departman</a></li>
            <li><a href="Lecturer">Lecturer</a></li>
            <li><a href="Student">Student</a></li>
            <li><a href="Note">Note</a></li>
            <li><a href="Lesson">Lesson</a></li>
            <li><a href="/Security/Logout">SignOut</a></li>

        </ul>
    </div>
</nav>
