<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">UniversityWeb</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Departman</a></li>
            <li><a href="#">Lecturer</a></li>
            <li><a href="#">Student</a></li>
            <li><a href="#">Note</a></li>
            <li><a href="#">Lesson</a></li>
        </ul>
    </div>
</nav>
